<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Find me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
            integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
<div class="page">
    <div class="top-section">
        <header class="header">
            <div class="logo">
                <img
                        class="logo__image"
                        src="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/LogoSmallSolid.png"
                        alt="logo"
                />
                <div class="logo__text">
                    <div class="logo__name">FindMe</div>
                </div>
            </div>
            <nav class="navigation">
                <a href="#" class="navigation-item">My Profile</a>
            </nav>

            <button class="action_button header__button" onclick="window.location.href='/login'">
                Login
            </button>

            <button class="action_button header__button" onclick="window.location.href='/logout'">
                Logout
            </button>
        </header>
    </div>


    <section class="reg-section">
        <div class="reg-form">
            <h1 class="reg-form-lable">Registration form</h1>
            <form id="registration-form" class="registration-form" action="user-registration" method='POST'>
                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Email" name="email" id='email' required/>
                    <label for="email" class="form__label">Email</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Password" name="password" id='password'
                           required/>
                    <label for="password" class="form__label">Password</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Name" name="firstName" id='firstName' required/>
                    <label for="firstName" class="form__label">Name</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Last Name" name="lastName" id='lastName'
                           required/>
                    <label for="lastName" class="form__label">Last Name</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Phone" name="phone" id='phone' required/>
                    <label for="phone" class="form__label">Phone</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Country" name="country" id='country' required/>
                    <label for="country" class="form__label">Country</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="City" name="city" id='city' required/>
                    <label for="city" class="form__label">City</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Age" name="age" id='age' required/>
                    <label for="age" class="form__label">Age</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Relationship" name="relationshipStatus"
                           id='relationshipStatus' required/>
                    <label for="relationshipStatus" class="form__label">Relationship</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Religion" name="religion" id='religion'
                           required/>
                    <label for="religion" class="form__label">Religion</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="School" name="school" id='school' required/>
                    <label for="school" class="form__label">School</label>
                </div>

                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="University" name="university" id='university'
                           required/>
                    <label for="university" class="form__label">University</label>
                </div>

                <button type="submit" class="reg-btn action_button">Register</button>
            </form>
        </div>
    </section>
</div>
</body>
</html>